<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cy.pj.sys.dao.SysLogDao">
	<sql id="queryWhereId">
		<where>
			<if test="username!=null and username!=''">
				username like concat("%",#{username},"%")
			</if>
		</where>

	</sql>
	<delete id="deleteObjects">
		delete from sys_logs where id in
		<foreach collection="ids" open="(" close=")" separator=","
			item="id">
			#{id}
		</foreach>


	</delete>
	<!-- 统计记录总数 -->
	<select id="getRowCount" resultType="int">
		select count(*)
		from sys_logs
		<include refid="queryWhereId" />

	</select>
	<!-- 查询当前页数 -->
	<select id="findPageObjects"
		resultType="com.cy.pj.sys.entity.SysLog">
		select * from sys_logs
		<include refid="queryWhereId" />

		order by createdTime desc
		limit #{startIndex},#{pageSize}
	</select>
	<!-- 添加日志信息 -->
	<update id="insertObject">
		insert into sys_logs
		(username,operation,method,params,time,ip,createdTime)
		values
		(#{username},#{operation},#{method},#{params},#{time},#{ip},#{createdTime})
	</update>
</mapper>














